---
import "@fontsource/inter"

export enum Size {
    Small = "small",
    Medium = "medium",
    Large = "large",
}

export type Props = {
    size?: Size,
    label?: string,
    color?: string,
    bg?: string,
}

const {
    size = Size.Small,
    label,
    color="var(--hgc-white)",
    bg="var(--hgc-accent)"
} = Astro.props;

const sizeClass = {
        "small": "py-1 px-2 mr-3 rounded-lg text-xs",
        "medium": "py-2 px-3 mr-4 rounded-xl text-sm",
        "large": "py-3 px-4 mr-5 br-3 rounded-2xl text-base",
    }[size]
---
<p
    class={`tag ${sizeClass} font-bold`}
    style={`color: ${color}; background-color: ${bg};`}>
    {label ? label : <slot />}
</p>

<style>
    .tag {
        font-family: "roboto";
    }
</style>